<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>


<form action="/login" method="post">
    <div class="container">
        <h1>Login</h1>

        <label>
            <b>First Name</b>
            <input type="text" placeholder="Enter First Name" name="firstName" required>
        </label>

        <label>
            <b>Last Name</b>
            <input type="text" placeholder="Enter Last Name" name="lastName" required>
        </label>

        <button type="submit" class="registerbtn">Login</button>
    </div>

    <div class="container signin">
        <p>Don't have the account? <a href="/register">Sign up</a>.</p>
    </div>
</form>

</body>
</html>
